@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE HTML>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title> Home Page Recipe</title>

</head>
<body>
    <div class="IndexPadding">
        <h1>Pizza Home Page</h1>
        <h2>
            Welcome to our Recipe Restaurants.
        </h2>
        <h3>
            You can add review the latest review of any recipe in details page.
        </h3>
        <a asp-action="RecipeList">Go RecipeList</a>
    </div>

    @section footer{
        <footer>&copy;&nbsp;COMP229&nbsp;-&nbsp;Ting Li&nbsp;(301025864)</footer>
    }

</body>

</html>
